.list {
  width: 70%;
  padding: 30px;
}
ul {
  padding: 20px;
}
li {
  list-style: none;
  margin-bottom: 25px;
  font-weight: 400px;
}

.name {
  display: flex;
  justify-content: space-between;
  font-style: italic;
}
.text {
  text-align: start;
  font-weight: 400px;
  text-indent: 30px;
  margin-top: 10px;
}
